<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>loja Paraná</title>
        <!-- Favicon-->
        <link rel="shortcut icon" type="imagex/png" href="https://raw.githubusercontent.com/matosyas/private-key-putty/main/thumbnail_logotechplace-removebg-preview%20(1).ico">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <base href="/"  />
		<link href="static/css/stylesCompra.css" rel="stylesheet" />
		<link th:href="@{/static/css/stylesCompra.css}">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img src="https://github.com/matosyas/private-key-putty/blob/main/thumbnail_logoloja-removebg-preview.png?raw=true" width="30" height="30" style="margin: 4px;" alt="">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/administrativo">TechPlace Store</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sobre nós</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item">Os envolvidos</a></li>
							    <li><hr class="dropdown-divider" /></li>
							    <li><a class="dropdown-item" href="https://github.com/G-Sampaio">Guilherme Sampaio</a></li>
								<li><a class="dropdown-item" href="https://github.com/matosyas">Yasmin de Lima</a></li>
								<li><a class="dropdown-item" href="https://github.com/BeaLicks">Beatriz Licks</a></li>
								<li><a class="dropdown-item" href="https://github.com/spookyonyx">João Padilha</a></li>
								<li><a class="dropdown-item" href="#!">Integrante</a></li>
							</ul>
							</li>
						</li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Product section-->
        <section class="py-5">
		    <div class="container px-4 px-lg-5 my-5">
		        <div class="row gx-4 gx-lg-5 align-items-center">
		            <div class="col-md-6">
		                <img class="card-img-top" <img th:src="@{/produtos/lista/mostrarImagem/{imagem}(imagem=${produto.nomeImagem})}" width="100" alt="..." />
		                <!--<img class="card-img-top mb-5 mb-md-0" th:src="@{/produtos/lista/mostrarImagem/{imagem}(imagem=${product.nomeImagem})}" width="100" alt="Imagem do Produto" />-->
		            </div>
		            <div class="col-md-6">
		                <h1 class="display-5 fw-bolder" th:text="${produto.descricao}">O Preço dos seus sonhos!!</h1>
		                <div class="fs-5 mb-5">
		                    <span>R$ <span th:text="${produto.valorVenda}"></span></span>
		                </div>
		               <p class="lead">Garanta já o seu!</p>
					   <div class="card-body">
					       <a href="#" class="btn btn-primary">Comprar</a>
					     </div>
		            </div>
		        </div>
		    </div>
		</section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; TECHPLACE 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
